<form action="https://t4ee1ba02.emailsys1a.net/199/1287/58e1970233/subscribe/form.html" method="post">
  <div class="form">
    <div class="form_border">
        <span style="position:absolute; z-index: -100; left:-6000px;" aria-hidden="true">
          <input type="text" class="form_field" name="<%= Figaro.env.newletter_id %>" value="" tabindex="-1"/>
        </span>
      <div class="input string required">
        <label class="string required control-label" for="email">* E-Mail-Adresse: </label>
        <input type="text" class="form_field" name="email" id="email" required value="<%= session['contact_attributes'] ? session['contact_attributes']['email'] : params[:email] %>"/>
      </div>
      <div class="input string firstname_form">
        <label id="firstname_label" class="string required control-label" for="firstname">Vorname: </label>
        <input type="text" class="form_field" name="firstname" id="firstname" value="<%= session['contact_attributes'] ? session['contact_attributes']['firstname'] : params[:firstname] %>"/>
      </div>
      <div class="input string lastname_form">
        <label id="lastname_label" class="string required control-label" for="lastname">Nachname: </label>
        <input type="text" class="form_field" name="lastname" id="lastname" value="<%= session['contact_attributes'] ? session['contact_attributes']['surname'] : params[:lastname] %>"/>
      </div>
      <div class="input checkbox required">
        <label>
          <input type="checkbox" id="consent_text" name="consent_text" value="yes" required/>
          * <%= t('newsletter.accept', link: link_to(t('header.privacy'), '/datenschutz', class: 'underline', target: '_blank')).html_safe %>
        </label>
      </div>
      <div class="actions">
        <input type="submit" class="btn primary form_button_submit" value="Anmelden"/>
      </div>
    </div>
  </div>
</form>
